@use 'sass:color';
@use 'sass:string';
@use 'sass:list';
@import 'variables';
// Variables

@mixin button-styles($bg-color) {
    background-color: $bg-color;
    color: white;

    &:hover {
        background-color: color.adjust($bg-color, $lightness: 10%);
    }
}

.btn-primary {
    @include button-styles($btn-primary);
}

@each $name, $color in $colors-app {
    .text-custom-#{$name} {
        color: $color;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-center {
    @extend .flex-center;
}
