@media (min-width: 540px) {
    .container-app {
        max-width: 540px;
    }
}

@media (min-width: 720px) {
    .container-app {
        max-width: 720px;
    }
}

@media (min-width: 960px) {
    .container-app {
        max-width: 960px;
    }
}

@media (min-width: 1140px) {
    .container-app {
        max-width: 1140px;
    }
}

@media (min-width: 1320px) {
    .container-app {
        max-width: 1320px;
    }
}
