@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --tw-bg-opacity: 1;
  --tw-bg-hover-opacity: 0.8;
}

/* .primary-btn__default {
  background-color: rgb(74 108 247 / var(--tw-bg-opacity)) !important;
  color: #fff !important;

  &:hover {
      color: #fff !important;
      background-color: rgb(74 108 247 / var(--tw-bg-opacity)) !important;
  }
}

.primary-btn__white {
  background-color: #fff !important;
  color: #000 !important;
  border: 2px solid #ddebf3;

  &:hover {
      color: #000 !important;
      background-color: #fff !important;
  }
} */